<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>Title</strong>
  <%= @book.title %>
</p>

<P>
  <strong>Body</strong>
  <%= @book.body %>
</P>

<p>
   <!--詳細ページへのリンク-->
  <%= link_to "edit", edit_book_path(@book.id) %>
  |
  <!--一覧ページへのリンク-->
  <%= link_to "Back", books_path(@book) %>
</p>